*{
    margin: 0;
    padding: 0;
    
}

body{
    width: 100%;
    overflow: hidden;
    background: #aaa
}
.josefin{
    font-family: 'Josefin Sans', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
.articulo{
    
}
.botones_contenedor{
    text-align: center;
    width: 100%;
    position: relative;  
}
.botones{
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 3em;  
}
.izquierda{
    position: static;
    left: 0;
    margin: 0 6em 0 0
    
}
.derecha{
    position: static;
    right: 0;
    margin: 0 0 0 6em
}
header{
    background: black;
    width: 100%;
    padding: 0.5em;
    margin: 0;
    position: fixed;
    z-index: inherit;
    height: 1.5em;
    background: black;
    
}
.header_div{
    position: absolute;
    width: 100%;
    height: 20px;
    background: black;
}
.letra{
   width: 80px;
    position: fixed;
    top: 0.5em;
    left: 0.5em; 
}
 .logo{
     width: 18px;
     position: fixed;
     top: 0.5em;
     right: 0.5em; 
     
 }
.blank{
    height: 2.5em;
    overflow: hidden;
}
nav{
    height: 25em;
    width: 100%;
    background: #151515;
    color: white;
    text-align: center;
    position: relative;
    overflow: hidden;
    font-size: 1.2em;
}
nav figure {
    background: #2f2d2d;
    margin: 0.5em 1.3em;
    padding: 1em;
    color: white;
    font-size: 1em;
}

nav a{
    margin: 0px;
}

nav a:nth-child(1) figure{
    background: #151515;
    padding: 0.5em;
    
}
a:nth-child(6){
   
    position: absolute;
    left: 1.5em;
}

a:nth-child(7){
   
     position: absolute;
    margin: 0 0 0 -0.9em;
}

a:nth-child(8){
   
     position: absolute;
     right: 1.5em;
}

nav p{
    margin: 0 0 0 0;
    position: absolute;
    bottom: 0.4em; 
    font-size: 0.85em;
    padding: 0.2em 1.5em 0 1.5em;
    border-top: #7b7b7b dotted  0.1em ;
}
nav p a{
    color: #aaa;
    text-decoration: underline;
}
#novedades{
    height: 10em;
    overflow: hidden; 
    background-image: url(francoisnielly.jpg);
    background-repeat: no-repeat; 
}
.novedades_contenido{
    position: relative;
    bottom: -7em;
}
.novedades_izquierda{
    position: absolute;
    left: 0;
    bottom: -2.6em;
    margin: 0 0 0 0;
    color: white;
    
}

.novedades_derecha{
    position: absolute;
    right: 0;
    bottom: -3em;
    margin: 0 0 0 0;
}

.titulo{
    background: #151515;
    box-shadow:-9px 9px 50px #000 ;
    color: white;
    height: 5em;
    text-align: center;
    font-size: 2em;
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
    width: 100%
    
}

.titulo p{
    width: 100%;
    position:absolute;
    margin:2em 0em;    
}















#contactanos{
    background: #8547BD;
    
}


#form{
    color: white;
    width: 100%;
    position: relative;
}

.datos{
    
    padding: 1em;
    
}

.datos p{
    padding: 1em ;
     margin: 0em 0.5em;
    border-bottom: 1px solid grey;
    
}

.datos div {
   width: 100%;
    
   margin: 0;
    
    
}

.datos div p{
    display: inline-block;
    padding: 1em 10em 0.5em 0;
    margin: 0em 0.5em;
    border-bottom: 1px solid grey;
    width:20%;
}



.iconos{
    background: #8547BD;
    height: 350px;
    position: absolute;
    width: 100%;
    padding: 0.5em;
    
}

.iconos  p{
    
    
    
}



