/*------------GENERAL------------*/
*{
    margin: 0;
    padding: 0;
    
}

body{
    width: 100%;
    overflow: hidden;
    background: #000;
    color: white;
}
.josefin{
    font-family: 'Josefin Sans', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
.titulo{
    background: #151515;
    box-shadow:-9px 9px 50px #000 ;
    color: white;
    height: 5em;
    text-align: center;
    font-size: 2em;
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
    width: 100%   
}
.titulo p{
    width: 100%;
    position:absolute;
    margin:2em 0em;    
}
.botones_contenedor{
    text-align: center;
    width: 100%;
    position: relative;  
}
.botones{
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 3em;  
}
.izquierda{
    position: static;
    left: 0;
    margin: 0 6em 0 0 
}
.derecha{
    position: static;
    right: 0;
    margin: 0 0 0 6em
}
figure{
    text-align: center;
}
.imagen{
     width:100%;
    max-width:1000px;
    text-align: center;
}
.video{
    width:100%;
    height: 40%;
    max-width:1000px;
    text-align: center;
}
#principal article, .animacion, .websites, .audiovisual, .informacion, .perfiles, .modelo{
    box-shadow:-9px 9px 50px #000 ;
    height: 5em;
    text-align: center;
    font-size: 2em;
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
    width: 100%
}
 #principal figure, .animacion figure, .websites figure, .audiovisual figure, .informacion figure, .perfiles figure, .modelo figure{
    width: 100%;
    position:absolute;
    margin:1.7em 0em;
}
#principal p, .animacion p, .websites p, .audiovisual p, .informacion p, .perfiles p, .modelo p{
    padding: 0.2em 0 0.2em 0;
    position: relative;
    margin: 0 0.8em 0 0.8em ;
}
#principal a, .animacion a, .websites a, .audiovisual a, .informacion a, .perfiles a, .modelo a{
    color: white;
}


/*------------HEADER------------*/


header{
    background: black;
    width: 100%;
    padding: 0.5em;
    margin: 0;
    position: fixed;
    z-index: inherit;
    height: 1.5em;
    background: black;   
}
.header_div{
    position: absolute;
    width: 100%;
    height: 20px;
    background: black;
}
.letra{
   width: 80px;
    position: fixed;
    top: 0.5em;
    left: 0.5em; 
}
 .logo{
     width: 18px;
     position: fixed;
     top: 0.5em;
     right: 0.5em;    
 }
.blank{
    height: 2.5em;
    overflow: hidden;
}


/*------------NAV------------*/


nav{
    height: 25em;
    width: 100%;
    background: #151515;
    color: white;
    text-align: center;
    position: relative;
    overflow: hidden;
    font-size: 1.2em;
}
nav figure {
    background: #2f2d2d;
    margin: 0.5em 1.3em;
    padding: 1em;
    color: white;
    font-size: 1em;
}
nav a{
    margin: 0px;
}
nav a:nth-child(1) figure{
    background: #151515;
    padding: 0.5em;  
}
a:nth-child(6){   
    position: absolute;
    left: 1.5em;
}
a:nth-child(7){ 
     position: absolute;
    margin: 0 0 0 -0.9em;
}
a:nth-child(8){ 
     position: absolute;
     right: 1.5em;
}
nav p{
    margin: 0 0 0 0;
    position: absolute;
    bottom: 0.4em; 
    font-size: 0.85em;
    padding: 0.2em 1.5em 0 1.5em;
    border-top: #7b7b7b dotted  0.1em ;
    text-align: center;
    width: 100%
}
nav p a{
    color: #aaa;
    text-decoration: underline;
}


/*------------NOVEDADES------------*/


#novedades{
    height: 10em;
    overflow: hidden; 
    background-image: url(francoisnielly.jpg);
    background-repeat: no-repeat; 
}
.novedades_contenido{
    position: relative;
    bottom: -7em;
}
.novedades_izquierda{
    position: absolute;
    left: 0;
    bottom: -2.6em;
    margin: 0 0 0 0;
    color: white;   
}

.novedades_derecha{
    position: absolute;
    right: 0;
    bottom: -3em;
    margin: 0 0 0 0;
}


/*------------PRINCIPAL------------*/


.porta{
    background: #B02626;
}
.porta p{
    border: solid #ED4343 3px;
    border-radius: 6px;
}
.somos{
    background: #ED4343;
}
.somos p{
    border: solid #CC3E3E 3px;
    border-radius: 6px;
    font-size: 0.8em;
}
.contacto{
    background: #CC3E3E;
}
.contacto p{
    border: solid #ED4343 3px;
    border-radius: 6px;
}


/*------------PORTAFOLIO------------*/


.animacion{
    background: #17A8DB;
}
.animacion p{
    border: solid #0084B3 3px;
    border-radius: 6px;
}
.websites{
    background: #007CB0;
}
.websites p{
    border: solid #45B7D6 3px;
    border-radius: 6px;
}
.audiovisual{
    background: #117291;
}
.audiovisual p{
    border: solid #007CB0 3px;
    border-radius: 6px;
    font-size: 0.8em;
}


/*------------QUIENES------------*/


.perfiles{
    background: #F9861E;
}
.perfiles p{
    border: solid #F15F04 3px;
    border-radius: 6px;
}
.modelo{
    background: #F9861E;
}
.modelo p{
    border: solid #FF1D25 3px;
    border-radius: 6px;
    font-size: 0.7em;
}
.informacion{
    background: #F15F04;
}
.informacion p{
    border: solid #F9861E 3px;
    border-radius: 6px;
    font-size: 0.8em;
}
.personas{
    width: 100%;
}
.personas_contenedor{
    position: relative;
    margin: 1em;
}
.personas_texto{
    position: absolute;
    bottom: 0.5em;
    left: 0.5em;
}

#quienes .informacion_titulo, .informacion_texto{
    margin: 1em;
}


/*------------CONTACTANOS------------*/


#contactanos{
    background: #8547BD; 
    color: white;
    width: 100%;
    overflow: hidden;
}
#form{
    width: 100%;
}
.datos{   
    padding: 1em;   
}
.datos p{
    padding: 1em ;
     margin: 0em 0.5em;
    border-bottom: 1px solid grey;  
}
.datos div{
   width: 100%;   
   margin: 0;     
}
.datos div p{
    display: block;
    padding: 1em 2em 0.5em 1em;
    margin: 0em 0.5em;
    border-bottom: 1px solid white;
    font-family: 'Josefin', sans-serif;
    font-size: 1.2em;  
}
.iconos{
    background: #8547BD;
    margin: 2em;
    padding: 1em 0em;   
    box-shadow:0px 0px 50px rgba(0, 0, 0, 0.75)
}
.tel{
    margin: 1em 0 0 3em;
    position: relative;
    overflow: hidden;
    height: 3em;
    width: 60%;
    text-align: center;
}
.tel img{
    position: absolute;
    left: 1em;
}
.tel p{
    position: absolute;
    right: 1em; 
    margin: 0.8em 0 0 0  
}
.email{
    margin: 1em 0 0 3em ;
    position: relative;
    overflow: hidden;
    height: 3em;
    width: 60%;
    text-align: center;
}
.email img{
    position: absolute;
    left: 0.4em;
}
.email p{
    position: absolute;
    right: 1em; 
    margin: 0.8em 0 0 0  
}
.redes{
    width: 60%;
    margin: 1em 0 0 3em ;
}   
.redes img{
    margin: 0.2em;
}
.iconos figure{
    color: #4b2a6c;
    margin: 1em;
    padding: 1em;
}




